/*
	Fontes:
	
	font-family: 'Phudu', cursive;
	
	font-family: 'Sarala', sans-serif;



	Paleta de cores:

2° Cores

	#C7B6A1 <<<---- Background

	#524146 <<<----- Font-color



1° cores

	#B5A377 -- rgba(181, 163, 119, 0.3) <------ Background --- Elements


	#42332C <<----- Font color --- Elemento
*/


@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400&family=Sarala&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	max-width: 100%;
	max-height: 3000px;
}
.foto-perfil{
	width: 60px;
	height: 60px;
}
.foto-engrenagem{
	width: 60px;
	height: 60px;		
}

#container{
	background-color: rgba(181, 163, 119, 0.6);
	display: flex;
	justify-content: space-around;
	align-items: center;
	

}

.marca-logo{
	display: flex;
	align-items: center;
	gap: 40px;
}
.navegacao{
	display: flex;
	gap: 10px;
	padding: 30px;

}

.img-perfil-tex{
}
.engrenagem-text{
}

.text-engrenagem{
	font-size: 1.01em;
}
.container-menu{
	display: flex;
}

.foto-perfil{
	border-radius: 60px;
}

main{
	margin: 20px 80px 0 80px;
}
.container-pricipal{
	background-color: rgba(181, 163, 119, 0.3); /* Hexa - #B5A377 */
	height: 500px;
	box-shadow: 2px;
	border-radius: 50px;
}
.conmentarios{
	font-family: 'Sarala', sans-serif
}
